@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 100%;
}

body {
	font-family: montserrat, arial, verdana;
	background:
		linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
}

.form-check-label {
  margin-left: 5px;
}

.form-check {
  text-align: left;
	margin: 0 auto;
  width: 60%;
}

a {
	color: green;
}

/*headings*/
.form-label {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.form-text {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}

.route__container {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 70px;
    left: 0px;
    transition: 1s;
}

.route-enter {
    transform: translateX(100%);
}

.route-enter-active {
    transform: translateX(0%);
}

.route-exit {
    transform: translateX(-100%);
}

.route-exit-active {
    transform: translateX(-100%);
}
